*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
}

h1{
  font-size: 50px;
}

.orange{
  color:#FFA500 ;
}

.flex{
  display: flex;
}

.head{
  width: 50%;
  padding-left: 5%;

}

.head h1,h3{
  margin-top: 40px;
  margin-left: 40px;
}


.head p{
  margin-top: 20px;
  margin-left: 40px;
  width: 80%;
  color: #777990;
}
.head img{
  width: 100%;
 margin-top: -50px;
}

.btn{
  padding: 10px 40px;
  border:none ;
background: radial-gradient(#ff906a,#FF694C);
font-weight: 800;
color: white;
border-radius: 5px;
margin-top: 20px;
margin-left: 40px;
text-decoration: none;
position: absolute;
}

.top-banner{
  background-image: url(images/top-banner.png);
 background-repeat: no-repeat;
}

.dream{
background-image: url(images/dream-bg.png);
background-repeat: no-repeat;
background-position: top 60px right;

}
.dream .dimg{
  width: 90%;
}

.Experiences{
margin-bottom: 100px;
margin-top: 100px;
background-image: url(images/exp-bg.png);
background-repeat: no-repeat;
background-position:top 260px left;

}


.Experiences h1{
  padding: 50px;
}

.exbox{
width: 45%;
border-left: 8px solid;
box-shadow: 10px 10px 40px gray;
margin-left: 60px;
padding-bottom: 100px;
border-radius: 10px;
border-image: linear-gradient( #FF694C,#FF3C85)30;
padding-right: 20px;
}
.exbox2{
width: 45%;
border-left: 8px solid  ;
padding-bottom: 100px;
box-shadow: 10px 10px 40px gray;
margin-left: 100px;
border-image: linear-gradient(#000DFF,#00EBFF)30;
margin-right: 50px;
border-radius: 10px;
padding-right: 20px;
}
.exbox  h1{
  font-size: 40px;
}
.exbox2  h1{
  font-size: 40px;
}
.exbox span{
  color: #FFA500;
  font-weight: 600;
  font-size: 20px;
   padding: 50px;

}
.exbox p{
  color: #777990;
  padding-left: 50px;
  margin-top: 20px;
}
.exbox2 span{
  color: #FFA500;
  font-weight: 600;
  font-size: 20px;
  padding-left: 50px;
}
.exbox2 p{
  color: #777990;
  padding-left: 50px;
  margin-top: 20px;
}
.copyright{
  text-align: center;
  color: #777990;
padding: 10px;

}
